# Copyright 2021 Manna Harbour
# https://github.com/manna-harbour/miryoku

name: 'Build uninarf'
on: workflow_dispatch
jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      board: '["xiao_ble"]'
      shield: '["uninarf"]'
      custom_config: '["#define MIRYOKU_ALPHAS_GALLIUM\n#define MIRYOKU_EXTRA_COLEMAKDH\n#define MIRYOKU_CLIPBOARD_MAC"]'
      kconfig: '[""]'
